li {
  margin: 0.5% 1%;
  cursor: pointer;
  transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
  color: #000000;
}

li:hover {
  color: #1d2bb8;
  text-decoration: underline;
}

.addBlog {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}
